.home {
    text-align: center;
    background-color: #fff3e0;
    
   

    .game {
        margin: 20px auto;
        max-width: 500px;
        height: 55vh;
        padding-top: 100px;
        

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .board {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                justify-content: center;
            }
        }

        .square {
            width: 100px;
            height: 100px;
            font-size: 36px;
            margin: 5px;
            border: 2px solid #333;
            border-radius: 5px;
            background-color: #f0f0f0;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #e0e0e0;
            }
        }

        .status {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
        }
    }


    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-content {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            text-align: center;

            .close {
                cursor: pointer;
                float: right;
                font-size: 24px;
            }
        }
    }
}